<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
    max-width: 1200px !important;
    height: 60px !important;
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
    color: white;
}

i {
    font-size: 22px !important;
    color: white;
}

.background-wrap {
    background-color: #f684a9;
    width: 1200px !important;
    height: 60px !important;
    display: flex;
    position: absolute;
    top: 90px;
    background-image: url(../../images/castle2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-items {
    width: 1200px !important;
    position: absolute;
}

.row {
    margin: auto;
    display: inline;
}

.monita {
    z-index: 1;
    position: absolute;
    width: 150px;
}

.ram {
    z-index: 1;
    width: 69px;
    position: relative;
    top: 35px;
    left: 94%;
}

.test {
    width: 100%;
}
</style>
</head>
<body>
    <div class="background-items">
        <img src="../../images/wonder.png" class="monita">
        <img src="../../images/ram.png" class="ram">
    </div>
    <div class="background-wrap">
        <div class="row">
            <i class="fa fa-steam"></i>
            <p>DyT_BaD_GuY</p>
        </div>
    </div>    
</body>
</html>