<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
}

i {
    font-size: 22px !important;
    color: #0b021c;
}

.background-wrap {
    background: linear-gradient(90deg, #eff6c3 0%, #eff6c3 50%, #eff6c3 100%);
    color: #0b021c;
    width: 1200px !important;
    height: 60px !important;
    border-radius: 130px;
    display: flex;
    position: absolute;
    top: 299px;
    left: 67px;
}

.row {
    margin: auto;
    display: inline;
}

.asuka {
    position: absolute;
    top: -253px;
    left: -76px;
}
</style>
</head>
<body>
    <div class="background-wrap">
        <div>
            <img src="../../images/evangelion3.png" class="asuka">
        </div>
        <div class="row">
            <i class="fa fa-instagram"></i>
            <p>una.elfa.adicta.al.cafe</p>
        </div>
        <div class="row">
            <i class="fa fa-youtube"></i>
            <p>Una Elfa Adicta Al Café</p>
        </div>
        <div class="row">
            <i class="fa fa-twitter"></i>
            <p>Sam42425002</p>
        </div>
        <div class="row">
            <i class="fa fa-facebook"></i>
            <p>unaelfaadictaalcafe</p>
        </div>
    </div>    
</body>
</html>