<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
    width: 1200px !important;
    height: 60px !important;
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
    color: white;
}

i {
    font-size: 22px !important;
    color: white;
}

.background-wrap {
    background-color: #d78203;
    width: 1200px !important;
    height: 60px !important;
    display: flex;
    position: absolute;
    top: 176px;
    opacity: 0.8;
}

.row {
    margin: auto;
    display: inline;
}

.monita {
    z-index: 1;
    position: absolute;
    width: 150px;
}

.neblina {
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
</style>
</head>
<body>
    <div>
        <img src="../../images/mundojack6.png" class="monita">
    </div>
    <div class="background-wrap">
        <div>
          <img src="../../images/mundojack9.gif" class="neblina">
        </div>
        <div class="row">
            <i class="fa fa-instagram"></i>
            <p>una.elfa.adicta.al.cafe</p>
        </div>
        <div class="row">
            <i class="fa fa-youtube"></i>
            <p>Una Elfa Adicta Al Café</p>
        </div>
        <div class="row">
            <i class="fa fa-twitter"></i>
            <p>Sam42425002</p>
        </div>
        <div class="row">
            <i class="fa fa-facebook"></i>
            <p>unaelfaadictaalcafe</p>
        </div>
    </div>    
</body>
</html>