<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c33fca4056.js" crossorigin="anonymous"></script>
<style>
body {
    font-family: 'Merienda One';
    max-width: 1200px !important;
    height: 60px !important;
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
    color: #79fdff;
}

svg {
    font-size: 22px !important;
    color: #79fdff;
}

.background-wrap {
    background-color: #f684a9;
    width: 1200px !important;
    height: 60px !important;
    display: flex;
    position: absolute;
    top: 176px;
    background-image: url(../../images/codwz-pared.jpg);
    /*
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.background-items {
    width: 1200px !important;
    position: absolute;
}

.row {
    margin: auto;
    display: inline;
}

.monita {
    z-index: 1;
    position: absolute;
    width: 150px;
}

.ram {
    z-index: 1;
    width: 69px;
    position: relative;
    top: 35px;
    left: 94%;
}

.test {
    width: 100%;
}

.soldado1 {
    z-index: 1;
    position: absolute;
    width: 66px;
    top: 175px;
}
.soldado2 {
    z-index: 1;
    position: absolute;
    width: 100px;
    left: 50%;
    top: 138px;
}
.soldado3 {
    z-index: 1;
    position: absolute;
    width: 83px;
    left: 75%;
    top: 138px;
}
.soldado4 {
    z-index: 1;
    position: absolute;
    width: 150px;
    left: 89%;
    top: 120px;
}
.soldado5 {
    z-index: 1;
    position: absolute;
    width: 150px;
}
</style>
</head>
<body>
    <div class="background-items">
        <img src="../../images/codwz1.png" class="soldado1">
        <img src="../../images/codwz5.png" class="soldado2">
        <img src="../../images/codwz3.png" class="soldado3">
        <img src="../../images/codwz4.png" class="soldado4">
        <img src="../../images/codwz2.png" class="soldado5">
    </div>
    <div class="background-wrap">
        <div class="row">
            <i class="fa fa-instagram"></i>
            <p>oscar.urbina</p>
        </div>
        <div class="row">
            <i class="fab fa-tiktok"></i>
            <p>ninjasux8291</p>
        </div>
        <div class="row">
            <i class="fa fa-twitch"></i>
            <p>ninjaasux</p>
        </div>
        <div class="row">
            <i class="fa fa-facebook"></i>
            <p>Ninjasux</p>
        </div>
    </div>    
</body>
</html>