<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link href="../../webfonts/PermanentMarker-Regular.ttf">
    <link href="../../webfonts/smileandwave.ttf">
    <link href="../../webfonts/UrbanJungleDEMO.otf">
    <script src="https://kit.fontawesome.com/c33fca4056.js" crossorigin="anonymous"></script>
<style>

@font-face {
  font-family: Permanent;
  src: url(../../webfonts/PermanentMarker-Regular.ttf);
}

body {
    font-family: 'Permanent';
    max-width: 1200px !important;
    height: 60px !important;
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Permanent';
    font-size: 26px;
    display: inline;
    color: #79fdff;
}

svg {
    font-size: 22px !important;
    color: #79fdff;
}

.background-wrap {
    background-color: #f684a9;
    width: 1200px !important;
    height: 60px !important;
    display: flex;
    position: absolute;
    top: 176px;
    background-image: url(../../images/codwz-pared3.jpg);
    /*
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.background-items {
    width: 1200px !important;
    position: absolute;
}

.row {
    margin: auto;
    display: inline;
}

.monita {
    z-index: 1;
    position: absolute;
    width: 150px;
}

.ram {
    z-index: 1;
    width: 69px;
    position: relative;
    top: 35px;
    left: 94%;
}

.test {
    width: 100%;
}

.soldado1 {
    z-index: 1;
    position: absolute;
    width: 66px;
    top: 175px;
}
.soldado2 {
    z-index: 1;
    position: absolute;
    width: 100px;
    left: 50%;
    top: 138px;
}
.soldado3 {
    z-index: 1;
    position: absolute;
    width: 83px;
    left: 75%;
    top: 138px;
}
.soldado4 {
    z-index: 1;
    position: absolute;
    width: 150px;
    left: 89%;
    top: 120px;
}
.soldado5 {
    z-index: 1;
    position: absolute;
    width: 150px;
}

.d-none {
    display: none;
}

img {
    max-width: 80px;
    position: absolute;
    top: -16px;
}
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript">
    setInterval(function(){
        $('.d-none').removeClass('d-none');
        $('.background-wrap').css('background-image', 'none');
    }, 2000);
</script>
</head>
<body>
    <div class="background-items">
    </div>
    <div class="background-wrap">
        <div class="row">
            <img class="d-none" src="../../images/trollconeja1.png">
            <i class="fa fa-instagram"></i>
            <img class="d-none" src="../../images/trollconeja1.png">
            <p>oscar.urbina</p>
            <img class="d-none" src="../../images/trollconeja1.png">
        </div>
        <div class="row">
            <img class="d-none" src="../../images/trollconeja1.png">
            <i class="fab fa-tiktok"></i>
            <img class="d-none" src="../../images/trollconeja1.png">
            <p>ninjasux8291</p>
            <img class="d-none" src="../../images/trollconeja1.png">
        </div>
        <div class="row">
            <img class="d-none" src="../../images/trollconeja1.png">
            <i class="fa fa-twitch"></i>
            <img class="d-none" src="../../images/trollconeja1.png">
            <p>ninjaasux</p>
            <img class="d-none" src="../../images/trollconeja1.png">
        </div>
        <div class="row">
            <img class="d-none" src="../../images/trollconeja1.png">
            <i class="fa fa-facebook"></i>
            <img class="d-none" src="../../images/trollconeja1.png">
            <p>Ninjasux</p>
            <img class="d-none" src="../../images/trollconeja1.png">
        </div>
    </div>    
</body>
</html>