<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
}

i {
    font-size: 22px !important;
    color: white;
}

.row {
  margin: auto;
  display: inline;
}

.background-wrap {
  display: flex;
  width: 1280px !important;
  height: 720px !important;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  background-image: url('../../images/naruto11.jpg');
}

.naruto {
  position: absolute;
  left: 400px;
  width: 800px;
  opacity: 0.7;
}


.sakura {
  position: absolute;
  left: 900px;
  width: 430px;
}
</style>
</head>
<body>
    <div>
      <img src="../../images/naruto8.png" class="sakura">
    </div>
    <div>
      <img src="../../images/naruto9.png" class="naruto">
    </div>
    <div class="background-wrap">
    </div>    
</body>
</html>