<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
}

i {
    font-size: 22px !important;
    color: white;
}

.row {
  margin: auto;
  display: inline;
}

.background-wrap {
  display: flex;
  width: 1280px !important;
  height: 720px !important;
  border-radius: 1rem;
  border-image-slice: 1;
  border-width: 5px;
  background-color: white;
  /*
  background-color: #ff000087;
  background-image: url(../../images/castle1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.naruto {
  position: absolute;
  opacity: 0.7;
}


.plaquetachan {
  position: absolute;
}

.neblina {
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}

.animate-flicker {
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.baby {
  z-index: 1;
  position: absolute;
  width: 330px;
}
.baby1 {
  z-index: 1;
  position: absolute;
  width: 330px;
}
</style>
</head>
<body>
    <div class="animate-flicker">
      <div class="background-wrap">
        <img src="../../images/babyyoda06.png" class="baby">
        <img src="../../images/babyyoda01.png" class="baby1">
      </div>    
    </div>
</body>
</html>