<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
}

i {
    font-size: 22px !important;
    color: white;
}

.row {
  margin: auto;
  display: inline;
}

.background-wrap {
  display: flex;
  width: 1280px !important;
  height: 720px !important;
  border-radius: 1rem;
  border-image-slice: 1;
  border-width: 5px;
  background-color: white;
  /*
  background-color: #ff000087;
  background-image: url(../../images/castle1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.naruto {
  position: absolute;
  left: 400px;
  width: 800px;
  opacity: 0.7;
}


.plaquetachan {
  position: absolute;
  left: 850px;
  width: 430px;
  top: 100px;
}

.neblina {
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  width: 1280px;
  height: 720px;
}

.animate-flicker {
  display: flex;
  width: 1280px !important;
  height: 720px !important;
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
  background-image: url(../../images/codwz-pared4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  10%   { opacity:0.9; }
  20%   { opacity:0.8; }
  30%   { opacity:0.7; }
  40%   { opacity:0.6; }
  50%   { opacity:0.6; }
  60%   { opacity:0.6; }
  70%   { opacity:0.7; }
  80%   { opacity:0.8; }
  90%   { opacity:0.9; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  10%   { opacity:0.9; }
  20%   { opacity:0.8; }
  30%   { opacity:0.7; }
  40%   { opacity:0.6; }
  50%   { opacity:0.6; }
  60%   { opacity:0.6; }
  70%   { opacity:0.7; }
  80%   { opacity:0.8; }
  90%   { opacity:0.9; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  10%   { opacity:0.9; }
  20%   { opacity:0.8; }
  30%   { opacity:0.7; }
  40%   { opacity:0.6; }
  50%   { opacity:0.6; }
  60%   { opacity:0.6; }
  70%   { opacity:0.7; }
  80%   { opacity:0.8; }
  90%   { opacity:0.9; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  10%   { opacity:0.9; }
  20%   { opacity:0.8; }
  30%   { opacity:0.7; }
  40%   { opacity:0.6; }
  50%   { opacity:0.6; }
  60%   { opacity:0.6; }
  70%   { opacity:0.7; }
  80%   { opacity:0.8; }
  90%   { opacity:0.9; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
</style>
</head>
<body>
    <div class="animate-flicker">
      <div class="background-wrap">
      </div>    
    </div>
</body>
</html>