<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
/* KEYFRAMES */
@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
        margin-top: -100px;
    }
    100% {
        margin-left: 120%;
        margin-top: 10%;
        rotate(180deg)
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
        margin-top: -100px;
    }
    100% {
        margin-left: 120%;
        margin-top: 10%;
        rotate(180deg);
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
        margin-top: -100px;
    }
    100% {
        margin-left: 120%;
        margin-top: 10%;
        rotate(180deg);
    }
}
/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 5s linear infinite;
  -moz-animation: animateCloud 5s linear infinite;
  animation: animateCloud 5s linear infinite;
  animation-iteration-count : infinite;
  animation-direction       : alternate-reverse;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

.x2 {
  -webkit-animation: animateCloud 10s linear infinite;
  -moz-animation: animateCloud 10s linear infinite;
  animation: animateCloud 10s linear infinite;
  animation-iteration-count : infinite;
  animation-direction       : alternate;
  animation-fill-mode: backwards;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
/* OBJECTS */
.background-wrap {
    width: 1280px !important;
    height: 720px !important;
    position: relative;
}

.bat {
    max-height: 200px;
    position: absolute;
    bottom: -500px;
    transform: rotateY(180deg);
}

.batv {
    max-height: 200px;
    position: absolute;
    bottom: -500px;
}

.bat2 {
    min-height: 400px;
    position: absolute;
    bottom: -600px;
    transform: rotateY(180deg);
}

.bat2v {
    min-height: 400px;
    position: absolute;
    bottom: -600px;
}

.bat3 {
    min-height: 100px;;
    position: absolute;
    bottom: 100px;
}
    </style>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript">
var pos_x1 = 0, pos_x2 = 0, pos_x1_dir = true, pos_x2_dir = true;
$(document).ready(function() {
  var vampiro1 = $('#bat1');
  var vampiro2 = $('#bat2');
  setInterval(function(){ 
  if(pos_x1_dir){
    if(vampiro1.offset().left > pos_x1)
      pos_x1 = vampiro1.offset().left;
    if(pos_x1 > 1350){
      pos_x1_dir = false;
      vampiro1.removeClass('bat');
      vampiro1.addClass("batv");
    }
  }
  else{
    if(vampiro1.offset().left < pos_x1)
      pos_x1 = vampiro1.offset().left;
    if(pos_x1 < -300){
      pos_x1_dir = true;
      vampiro1.addClass('bat');
      vampiro1.removeClass("batv");
    } 
  }

  if(pos_x2_dir){
    if(vampiro2.offset().left > pos_x2)
      pos_x2 = vampiro2.offset().left;
    if(pos_x2 > 1350){
      pos_x2_dir = false;
      vampiro2.removeClass('bat2');
      vampiro2.addClass("bat2v");
    }
  }
  else{
    if(vampiro2.offset().left < pos_x2)
      pos_x2 = vampiro2.offset().left;
    if(pos_x2 < -300){
      pos_x2_dir = true;
      vampiro2.addClass('bat2');
      vampiro2.removeClass("bat2v");
    } 
  }
  });
});
</script>
<body>
    <div class="background-wrap">
        <div class="x1">
            <img id="bat1" class="bat" src="{{ $img_url}}/murcielago2.gif" alt="">
        </div>
    
        <div class="x2">
            <img id="bat2" class="bat2" src="./images/murcielago2.gif" alt="">
        </div>
    
        <div class="x3">
            <img id="bat3" class="bat3" src="./images/murcielago2.gif" alt="">
        </div>
</body>
</html>