<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c33fca4056.js" crossorigin="anonymous"></script>
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
}

i {
    font-size: 22px !important;
    color: white;
}

.row {
  margin: auto;
  display: inline;
}

.background-wrap {
  display: flex;
  width: 1280px !important;
  height: 720px !important;
  border-radius: 1rem;
  border-image-slice: 1;
  border-width: 5px;
  /*
  background-color: #ff000087;
  background-image: url(../../images/castle1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.naruto {
  position: absolute;
  left: 400px;
  width: 800px;
  opacity: 0.7;
}


.plaquetachan {
  position: absolute;
  left: 850px;
  width: 338px;
  top: 21px;
}

.neblina {
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  width: 1280px;
  height: 720px;
}

.background-wrap {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 1200px !important;
  height: 640px !important;
  background-color: #bd5c5c;
  margin: 40px 40px 40px 40px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animate-flicker {
  z-index: -1;
  position: absolute;
  display: flex;
  width: 1280px !important;
  height: 720px !important;
  background-color: black;
  border-radius: 1rem;
  background-color: transparent;
  /*
  background-image: url(../../images/codwz-pared4.jpg);
  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nave {
  position: absolute;
  bottom: -2px;
  right: -40px;
  opacity: 0.7;
}
.feminismo {
  bottom: -2px;
  position: absolute;
  top: x;
  left: -1px;
  opacity: 0.7;
  width: 100px;
}
</style>
</head>
<body>
    <div class="animate-flicker">
    </div>
    <div class="background-wrap">
      <div class="logo">
        <img src="../../images/nave02.png" class="nave" alt="">
      </div>
      <div>
        <img src="../../images/feminismo.png" class="feminismo" >
      </div>
    </div>    
</body>
</html>