<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link href="../../css/all.css" rel="stylesheet"> <!--load all styles -->
<style>
font-family: 'Merienda One', cursive;

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Merienda One';
    font-size: 26px;
    display: inline;
}

i {
    font-size: 22px !important;
    color: black;
}

.background-wrap {
    background: rgb(188,255,221);
    background: linear-gradient(90deg, rgba(188,255,221,1) 0%, rgba(180,141,255,1) 50%, rgba(252,95,252,1) 100%);
    width: 900px !important;
    height: 600px !important;
    border-radius: 20px;
    display: flex;
}

.row {
    margin-left: 1rem;
    display: inline;
}

</style>
</head>
<body>
    <div class="background-wrap">
        <div class="row">
            <div>
                <i class="fab fa-facebook"></i>
                <p>Facebook</p>
                &blank;
                <i class="fab fa-twitch"></i>
                <p>Twitch</p>
            </div>
            <div>
                <i class="fa fa-heart"></i>
                <p>Último follow</p>
            </div>
            <div>
                <i class="fa fa-star"></i>
                <p>Última donación</p>
            </div>
            <div>
                <i class="fa fa-share"></i>
                <p>Top stream</p>
            </div>
            <div>
                <i class="fa fa-users"></i>
                <p>Top semana</p>
            </div>
            <div>
                <i class="fa fa-users"></i>
                <p>Top mes</p>
            </div>
            <div>
                <i class="far fa-newspaper"></i>
                <p>Último suscriptor</p>
            </div>
        </div>
    </div>    
</body>
</html>