<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link href="../../css/all.css" rel="stylesheet"> <!--load all styles -->
<style>
@font-face {
  font-family: Permanent;
  src: url(../../webfonts/PermanentMarker-Regular.ttf);
}

body {
    font-family: 'Merienda One';
}

.primero{
    top: -14px;
    left: 60px;
    position: absolute;
}

p {
    font-family: 'Permanent';
    font-size: 26px;
    display: inline;
    color: #18040;
}

i {
    font-size: 22px !important;
    color: #18040;
}

.background-wrap {
    border: 5px solid #8d8484;
    width: 900px !important;
    height: 275px !important;
    border-radius: 20px;
    display: flex;
    border-radius: 1rem;
    background-color: #e8caa3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-left: 1rem;
    display: inline;
}

.soldado1 {
    position: absolute;
    width: 126px;
    left: 775px;
    top: 15px;
}
.soldado2 {
    position: absolute;
    width: 251px;
    left: 462px;
    top: 15px;
    opacity: 0.7;
}
</style>
</head>
<body>
    <div class="background-wrap">
        <div>
        </div>
        <div class="row">
            <div>
                <i class="fab fa-twitch"></i>
                <p>Twitch</p>
            </div>
            <div>
                <i class="fa fa-heart"></i>
                <p>Último follow</p>
            </div>
            <div>
                <i class="fa fa-star"></i>
                <p>Última donación</p>
            </div>
            <div>
                <i class="fa fa-share"></i>
                <p>Top stream</p>
            </div>
            <div>
                <i class="fa fa-users"></i>
                <p>Top semana</p>
            </div>
            <div>
                <i class="fa fa-users"></i>
                <p>Top mes</p>
            </div>
            <div>
                <i class="far fa-newspaper"></i>
                <p>Último suscriptor</p>
            </div>
        </div>
    </div>    
</body>
</html>